<ion-view view-title="login">
  <ion-content align="center">
    <p class="forgot_pass_txt margin-top-20-px">Forgot your Password?</p>
    <div align="center">
      <div class="login_screen_field_div" align="center" style="width: 90%">
        <div class="login_screen_field_img_div field_icon_div"><i
          class="login_screen_field_img icon  ion-ios-locked-outline white-txt-color font-25" ></i></div>
        <div class="Aligner"> <input type="password" placeholder="New Password" class="input_filed" ng-model="passwordData.newPassword"></div>
      </div>

      <div class="login_screen_field_div" align="center" style="width: 90%">
        <div class="login_screen_field_img_div field_icon_div"><i
          class="login_screen_field_img icon  ion-ios-locked-outline white-txt-color font-25" ></i></div>
        <div class="Aligner"> <input type="password" placeholder="Re-password" class="input_filed" ng-model="passwordData.RePassword"></div>
      </div>

      <button class="button button-full button-positive forgot_pass_screen_btn" ng-click="submit()" >
        Submit
      </button>
      </div>

  </ion-content>
</ion-view>

