<ion-view view-title="About Us" hide-nav-bar="true">

  <ion-header-bar class="new-status-bar bar-positive">
    <div class="buttons">
      <button class="button button-clear ion-chevron-left" ng-click="goBackFunction()">&nbsp;&nbsp;Back</button>
    </div>

  </ion-header-bar>
    <ion-content>
        <div class="card list ">
            <div class="item">Rate us on App Store</div>
            <div class="item">Like us on FaceBook</div>
            <div class="item">Like us on Twitter</div>
            <div class="item" ng-click="termsConditionshow()">Terms and Condition</div>
            <div class="item">PupilSky.com</div>

        </div>
    </ion-content>
</ion-view>
