<ion-view view-title="Contact Us" hide-nav-bar="true">

  <ion-header-bar class="new-status-bar bar-positive">
    <div class="buttons">
      <button class="button button-clear ion-chevron-left" ng-click="goBackFunction()">&nbsp;&nbsp;Back</button>
    </div>

  </ion-header-bar>
    <ion-content>
      <div class="card">
          <div class="margin-left-10-px margin-top-10-px margin-bottom-20-px">
          <div>
              VKI Area ,Jaipur (Rajasthan)
          </div>
          <div>
              Phone No : 561243259
          </div>

          <div> Email : abc@gmail.com</div>
          </div>
      </div>
    </ion-content>
</ion-view>
