<ion-view view-title="Favorite" hide-nav-bar="true">

  <ion-header-bar class="new-status-bar bar-positive">
    <div class="buttons">
      <button class="button button-clear ion-chevron-left" ng-click="goBackFunction()">&nbsp;&nbsp;Back</button>
    </div>

  </ion-header-bar>
    <ion-content>
        <div class=" list" style="padding-top: 0px;margin-top: -8px">

            <a class="item item-thumbnail-left item-icon-right" style="padding-top: 18px;min-height: 60px;padding-left: 60px">
                <img src="img/student_profile_icon.png" style="width: 40px;height:40px;">
                <p>Parvindra singh</p>
                <i class="icon ion-star font-15"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right" style="padding-top: 18px;min-height: 60px;padding-left: 60px">
                <img src="img/teacher_profile_icon.png" style="width: 40px;height:40px;">
                <p>Ankit</p>
                <i class="icon ion-star font-15"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right" style="padding-top: 18px;min-height: 60px;padding-left: 60px">
                <img src="img/student_profile_icon.png" style="width: 40px;height:40px;">
                <p>Ajay kumar</p>
                <i class="icon ion-star font-15"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right" style="padding-top: 18px;min-height: 60px;padding-left: 60px">
                <img src="img/teacher_profile_icon.png" style="width: 40px;height:40px;">
                <p>Manoj kumar</p>
                <i class="icon ion-star font-15"></i>
            </a>

        </div>
    </ion-content>
</ion-view>
