<ion-view view-title="Get Review" hide-nav-bar="true">

  <ion-header-bar class="new-status-bar bar-positive">
    <div class="buttons">
      <button class="button button-clear ion-chevron-left" ng-click="goBackFunction()">&nbsp;&nbsp;Back</button>
    </div>

  </ion-header-bar>
    <ion-content>
        <div class="list card list-borderless">
            <div class="item">
                you are a good Teacher for me.
            </div>
            <div class="text-right"> <span style="margin-right: 10px">-Ravi kumar</span></div>
        </div>
    </ion-content>
</ion-view>
