<!--<ion-view hide-nav-bar="true">
    <ion-header-bar class="new-status-bar bar-positive">
        <div class="buttons">
            <button class="button button-clear ion-chevron-left" ng-click="goBackFunction()">&nbsp;&nbsp;Back</button>
        </div>
        <h1 class="title">Refer and Earn</h1>

    </ion-header-bar>-->
<ion-view view-title="Refer and Earn" hide-back-button="true">

    <ion-content>
        <div class="card" align="center">
            <div class="margin-top-20-px" style="color: grey">Refer Code and Eran</div>
            <div align="center" style="margin-bottom: 20px">
                <!-- <div class="login_screen_field_div" align="center" style="width: 50% !important;">
                   <div class="Aligner" style="justify-content: center"><input type="number" placeholder="Code" class="input_filed" maxlength="5"></div>
                 </div>-->
                <div class="field_screen" align="left">
                    <label class="item item-input item-floating-label item-borderless width-100-per input_field_label">
                        <span class="input-label app_txt_color input-label-txt-font">Refer Code</span>
                        <input type="number" placeholder="Refer Code" class="padding-right-5px">
                    </label>

                </div>

                <button class="button button-positive signin_btn ">
                    Submit
                </button>

            </div>
        </div>
    </ion-content>
</ion-view>

