<ion-view hide-nav-bar="true"  cache-view="false">
    <ion-header-bar class="new-status-bar bar-positive">
        <div class="buttons">
            <button class="button button-clear ion-chevron-left" ng-click="goBackFunction()">&nbsp;&nbsp;Back</button>
        </div>
        <h1 class="title">Institute Profile </h1>

    </ion-header-bar>

    <ion-content>

        <div align="center">

            <div class="field_screen" align="left">
                <label class="item item-input item-floating-label item-borderless width-100-per input_field_label">
                    <span class="input-label app_txt_color input-label-txt-font">Institute Name</span>
                    <input type="text" placeholder="Institute Name" class="padding-right-5px" ng-model="instituteObj.instituteName">
                </label>
            </div>

            <div class="field_screen" align="left">

              <input type="text" placeholder="Name" class="padding-right-5px" ng-model="instituteObj.nameYear" ng-if="isEditMode== true" ng-click="changeEditMode()">

                <select class="width-100-per white_bg_color border-0-px" ng-model="instituteObj.selectedEstYear" ng-if="isEditMode== false">
                    <option value="" selected="selected">Establishment Year</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2014</option>
                    <option>2013</option>
                    <option>2012</option>
                    <option>2011</option>
                    <option>2010</option>
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                </select>
            </div>

            <div class="field_screen" align="left">
                <label class="item item-input item-floating-label item-borderless width-100-per input_field_label ">
                    <span class="input-label app_txt_color input-label-txt-font">Contact number 1</span>
                    <input type="number" placeholder="Contact number 1" class="padding-right-5px" ng-model="instituteObj.contact_numFirst">
                </label>
            </div>


            <div class="field_screen" align="left">
                <label class="item item-input item-floating-label item-borderless width-100-per input_field_label ">
                    <span class="input-label app_txt_color input-label-txt-font">Contact number 2</span>
                    <input type="number" placeholder="Contact number 2" class="padding-right-5px" ng-model="instituteObj.contact_numSecond">
                </label>
            </div>


            <div class="field_screen" align="left">
                <label class="item item-input item-floating-label item-borderless width-100-per input_field_label">
                    <span class="input-label app_txt_color input-label-txt-font">Email</span>
                    <input type="Email" placeholder="Email" class="padding-right-5px" ng-model="instituteObj.email">
                </label>
            </div>

            <div class="field_screen" align="left">
                <label class="item item-input item-floating-label item-borderless width-100-per input_field_label">
                    <span class="input-label app_txt_color input-label-txt-font">Website</span>
                    <input type="text" placeholder="Website" class="padding-right-5px" ng-model="instituteObj.website">
                </label>
            </div>


            <div class="field_screen" align="left">
                <label class="item item-input item-floating-label item-borderless width-100-per input_field_label">
                    <span class="input-label app_txt_color input-label-txt-font">About me</span>
                    <textarea aria-multiline="10" placeholder="About me" class="padding-right-5px " ng-model="instituteObj.instAboutMe"></textarea>
                </label>
            </div>

        </div>

    </ion-content>

    <ion-footer-bar
            class="footer-btn-bar">
        <div class="row footer-btn-div" ng-click="next()" >
            <div class="col app-bg-theme col-center text-center" style="padding: 10px">
                <span class="white-txt-color font-15">Next</span>
            </div>
        </div>


    </ion-footer-bar>

</ion-view>

