<!--<ion-view hide-nav-bar="true">
    <ion-header-bar class="new-status-bar bar-positive">
        <div class="buttons">
            <button class="button button-clear ion-chevron-left" ng-click="goBackFunction()">&nbsp;&nbsp;Back</button>
        </div>
        <h1 class="title">ECash</h1>

    </ion-header-bar>-->

<ion-view view-title="ECash" hide-back-button="true">

    <ion-content>
        <div class="card" align="center">
            <div class="margin-top-20-px " style="color: grey">Your Amount</div>
            <div class="green-txt-color margin-top-20-px margin-bottom-20-px">
                <i class="icon fa fa-inr font-25" aria-hidden="true"></i>
                <span class="font-25">50</span>
            </div>
        </div>


    </ion-content>
</ion-view>
