<ion-view view-title="Settings" hide-nav-bar="true">

  <ion-header-bar class="new-status-bar bar-positive">
    <div class="buttons">
      <button class="button button-clear ion-chevron-left" ng-click="goBackFunction()">&nbsp;&nbsp;Back</button>
    </div>

  </ion-header-bar>
  <ion-content>
  <div class="card list ">
   <!-- <div class="item">Forgot Password</div>
    <div class="item" ng-click="eCash()">ECash</div>
    <div class="item" ng-click="referEarn()">Refer and Earn</div>
    <div class="item">Reward and Redeem ECash</div>-->
      <div class="item" ng-click="MyProfile()">My Account</div>
      <div class="item" ng-click="logout()">LogOut</div>
  </div>
  </ion-content>
</ion-view>
